<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>TaskHub</h1>
    </header>

    <div class="login-options">
        <button class="login-button" onclick="showLoginForm('returning')">Returning User</button>
        <button class="login-button" onclick="showLoginForm('new')">New User</button>
    </div>

    <form class="login-form" id="returningForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button class="login-button" type="submit">Login</button>
    </form>

    <form class="login-form" id="newForm">
        <label for="newFname">First Name (required):</label>
        <input type="text" id="newFname" name="newFname" required>

        <label for="newLname">Last Name (required):</label>
        <input type="text" id="newLname" name="newLname" required>

        <label for="newEmail">Email (required):</label>
        <input type="text" id="newEmail" name="newEmail" required>

        <label for="newUsername">Username (required):</label>
        <input type="text" id="newUsername" name="newUsername" required>

        <label for="newPassword">Password (required):</label>
        <input type="password" id="newPassword" name="newPassword" required>
        
        <button class="login-button" type="submit">Sign Up</button>
    </form>

    <script>
        function showLoginForm(type) {
            const returningForm = document.getElementById('returningForm');
            const newForm = document.getElementById('newForm');

            if (type === 'returning') {
                returningForm.style.display = 'flex';
                newForm.style.display = 'none';
            } else if (type === 'new') {
                returningForm.style.display = 'none';
                newForm.style.display = 'flex';
            }
        }
    </script>
</body>
</html>
