{% extends "theme.html" %} {% block title %} About: Taskhub {% endblock %}

{% block content %} 
<h1>The creators of Taskhub</h1>

<p>Taskhub could not have been brought to life all on its own. Meet the contributors who made Taskhub the helpful task manager it is today.</p>
<ul>
    <li><strong>Kent Jones - </strong>Back-end</li>
    <li><strong>Gina Jordan - </strong>Back-end</li>
    <li><strong>Susanna Quayle - </strong>Back-end</li>
    <br>
    <li><strong>Ashley Jackson - </strong>Front-end</li>
    <li><strong>Kelly Bullard - </strong>Front-end</li>
</ul>
{% endblock %}