{% extends "theme.html" %}
{% block title %} About: Taskhub {% endblock %}

{% block content %} 
<style>
    .contributors {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contributors li {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .contributor {
        display: flex;
        align-items: center;
    }
    .contributor img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 20px;
    }
</style>

<h1>The creators of Taskhub</h1>
<h3>Taskhub could not have been brought to life all on its own. 
    Meet the contributors who made Taskhub the helpful task manager it is today.</h3>
<ul class="contributors">
    <li>
        <div class="contributor">
            <img src="../static/placeholder.png" alt="Kent Jones">
            <strong>Kent Jones Jr</strong> - Web Developer
        </div>
    </li>
    <li>
        <div class="contributor">
            <img src="../static/placeholder.png" alt="Gina Jordan">
            <strong>Gina Jordan</strong> - Web Developer
        </div>
    </li>
    <li>
        <div class="contributor">
            <img src="../static/placeholder.png" alt="Susanna Quayle">
            <strong>Susanna Quayle</strong> - Web Developer
        </div>
    </li>
    <li>
        <div class="contributor">
            <img src="../static/placeholder.png" alt="Ashley Jackson">
            <strong>Ashley Jackson</strong> - President of Lucky Foot
        </div>
    </li>
    <li>
        <div class="contributor">
            <img src="../static/placeholder.png" alt="Kelly Bullard">
            <strong>Kelly Bullard</strong> - Designer
        </div>
    </li>
</ul>

<h2>Our Mission</h2>
<p>At Taskhub, our mission is to empower individuals and teams to manage tasks effectively, saving 
    time and reducing stress. We are committed to providing a seamless task management 
    experience for users from all walks of life.</p>
{% endblock %}
