{% extends "theme.html" %}
{% block title %} About: Taskhub {% endblock %}

{% block content %} 
<style>
    html {
      box-sizing: border-box;
    }
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    .column {
      float: left;
      width: 33.3%;
      margin-bottom: 16px;
      padding: 0 8px;
    }
    
    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .container {
      padding: 0 16px;
    }
    
    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }
    .title {
  color: grey;
}
</style>

<h1>The creators of Taskhub</h1>
<h3>Taskhub could not have been brought to life all on its own. 
    Meet the contributors who made Taskhub the helpful task manager it is today.
</h3>
    <div class="row">
        <div class="column">
          <div class="card">
            <img src="../static/Ashley Jackson.jpg" alt="Ashley Jackson style="width:100%">
            <div class="container">
              <h2>Ashley Jackson</h2>
              <p class="title">CEO & Founder</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../static/Kent.jpg" alt="Kent Jones" style="width:100%">
            <div class="container">
              <h2>Kent Jones Jr</h2>
              <p class="title">Web Developer</p>
            </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="../static/Gina.jpg" alt="Gina Jordan"  style="width:100%">
            <div class="container">
              <h2>Gina Jordan</h2>
              <p class="title">Web Developer</p>
            </div>
          </div>
        </div>
        
      <div class="column">
        <div class="card">
            <img src="../static/Susana.gif" alt="Susanna Quayle" style="width:100%">
            <div class="container">
                <h2>Susanna Quayle</h2>
                <p class="title">Web Developer</p>
          </div>
        </div>
      </div>

    <div class="column">
        <div class="card">
            <img src="../static/KellyIcon.png" alt="Kelly Bullard" style="width:100%">
            <div class="container">
                <h2>Kelly Bullard</h2>
                <p class="title">Designer</p>
          </div>
        </div>
      </div>
    </div>

<h2>Our Mission</h2>
<p>At Taskhub, our mission is to empower individuals and teams to manage tasks effectively, saving 
    time and reducing stress. We are committed to providing a seamless task management 
    experience for users from all walks of life.</p>
{% endblock %}
