{% extends "theme.html" %} {% block title %} User Page: Taskhub {% endblock %}

{% block content %} 
<form method="POST" action="/passwordReset">
    <p>Forgotten your password? Fill in your email and we'll email you further instructions!</p>
    <div class="form-group">
        <input 
            type="email" 
            class="form-control" 
            id="userEmail"
            name="userEmail"
            required
            placeholder="Enter Email"
        />
    </br>
    </div>
    <button type="submit" class="btn btn-primary btn-lg"><strong>Reset Password</strong></button>
</form>
{% endblock %}