{% extends "theme.html" %} {% block title %} User Page: Taskhub {% endblock %}

{% block content %} 
<h2>Update Password</h2>
<form method="POST" action="/updatePass">
    <div class="form-group">
        <label for="currPass">Current Password</label>
        <input 
            type="password" 
            class="form-control" 
            id="currPass"
            name="currPass"
            required
            placeholder="Enter Current Password"
        />
    </div>
    <div class="form-group">
        <label for="newPass">New Password</label>
        <input 
            type="password" 
            class="form-control" 
            id="newPass"
            name="newPass"
            required
            placeholder="Enter New Password"
        />
    </div>
    <button type="submit" class="btn btn-primary btn-lg"><strong>Update Password</strong></button>
</form>
{% endblock %}