{% extends "theme.html" %} {% block title %} User Page: Taskhub {% endblock %}

{% block content %} 
<!--CSS-->
<style>
    .avatar 
    {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }

    #avatar-input 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .button-container 
    {
    margin-top: 10px; /* Adjust as needed */
    }

    .container 
    {
    text-align: center; /* Centers content horizontally */
    }

    .disabled-btn {
    pointer-events: none;
    opacity: 0.5;
    }

    #accessTaskButton,
    #accessReminderButton 
    {
    padding: 10px 20px; /* Adjust padding as needed */
    margin: 0 5px; /* Adjust margin as needed */
    border: 1px solid #ccc;
    border-radius: 5px; /* Soft corner */
    background-color: #f0f0f0; /* Button background color */
    color: #333; /* Button text color */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer;
    }

    #accessTaskButton:hover,
    #accessReminderButton:hover 
    {
    background-color: #e0e0e0; /* Change background color on hover */
    }

</style>
<div class = "container-fluid">
    <div class = "row"> 
        <!--Sidebar-->
        <div class = "col-md-3">
            <div class="list-group">
                <a class="list-group-item list-group-item-action active">User Settings</a>
                <a href="/userPage" class="list-group-item list-group-item-action">Account</a>
                <a href="/privacy" class="list-group-item list-group-item-action">Privacy</a>
            </div>
        </div>
        <div class="col-md-9">
            <header>
                <div class="avatar-container">
                    <label for="avatar-input">
                        {% if accountType == 'teacher' %}
                            <img src="../static/teacherstar.png" alt="user" class="avatar" id="avatar-image">
                        {% elif accountType == 'student' %}
                            <img src="../static/studentstar.png" alt="user" class="avatar" id="avatar-image">
                        {% elif accountType == 'parent' %}
                            <img src="../static/parentIcon.png" alt="user" class="avatar" id="avatar-image">
                        {% else %}
                            <img src="../static/userstar.png" alt="user" class="avatar" id="avatar-image">
                        {% endif %}
                    </label>
                </div>
                <h1>Hello, {{ username }}</h1>
            </header>
            <main>
                <!-- Account type pop up -->
                {% if show_account_type_popup %}
                <form method="post" action="."id="accountTypeForm">
                    <div class="modal fade" id="accountTypeModal" tabindex="-1" role="dialog" aria-labelledby="accountTypeModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="accountTypeModalLabel">Select Your Account Type</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <p>What type of account would you like?</p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="accountType" id="studentRadio" value="student">
                                <label class="form-check-label" for="studentRadio">
                                <b>Student</b>
                                </label>
                                <p class="description">A student account is for individuals enrolled in educational institutions.</p>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="accountType" id="teacherRadio" value="teacher">
                                <label class="form-check-label" for="teacherRadio">
                                <b>Teacher</b>
                                </label>
                                <p class="description">A teacher account is for educators who manage classes and assignments.</p>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="accountType" id="parentRadio" value="parent">
                                <label class="form-check-label" for="parentRadio">
                                <b>Parent</b>
                                </label>
                                <p class="description">A parent account is for users who manage their children's day to day tasks as well as their own!</p>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="accountType" id="standardRadio" value="standard">
                                <label class="form-check-label" for="standardRadio">
                                <b>Standard</b>
                                </label>
                                <p class="description">A standard account is for users who just want some organization in their lives!</p>
                            </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="saveAccountTypeBtn" name="submit">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </form>
                {% endif %}
                <section>
                    <h2>User Information</h2>
                    <p>This is where you can display information about the user.</p>
                </section>
                <section>
                    <h2>Tasks & Reminders</h2>
                    <p>Access your tasks and reminders here.</p>
                    <div class="button-container">
                        <a href="{{ url_for('auth.taskHome') }}"><button id="accessTaskButton" onclick="openModal()">My Tasks</button></a>
                        <a href="{{ url_for('auth.reminderHome') }}"><button id="accessReminderButton" onclick="openModal()">My Reminders</button></a>
                    </div>
                </section>
                <section>
                    <br>
                    <h2>Recent Activity</h2>
                    <p>Display recent activity or posts here.</p>
                </section>
                <section>
                    <h2>Weekly Review</h2>
                    <p>How was your day? Don't forget to fill out your weekly report!</p>
                    <a href="{{ url_for('auth.weekReview') }}"><button id="weekly-review-btn" class="btn btn-primary btn-lg {% if disableBtn %}disabled-btn{% endif %}" {% if disableBtn %}disabled{% endif %}><strong>Weekly Review</strong></button></a>
                    <a href="{{ url_for('auth.viewWeekReview') }}"><button class="btn btn-primary btn-lg"><strong>View Past Entries</strong></button></a>
                </section>
            </main>
        </div>
    </div>
</div>

<!--- Account type popup script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   $(document).ready(function() {
    $('#accountTypeModal').modal('show');

    $('#saveAccountTypeBtn').click(function() {
        var accountType = $('input[name="accountType"]:checked').val();
        $('#selectedAccountType').val(accountType);

        // Submit the form using AJAX
        $.ajax({
            url: '/save_account_type',
            type: 'POST',
            data: $('#accountTypeForm').serialize(),
            success: function(response) {
                window.location.reload(); // Refresh the page after saving the account type
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    });
});
</script>
{% endblock %}