{% extends "theme.html" %} {% block title %} About: Calculatron {% endblock %}

{% block content %} 
<h1>The creator of Calculatron</h1>

<img src="../static/Dr. Mathison.jpg" alt="Dr. Mathison" style="width:500px;height:500px;" />
<p>Dr. Mathison is a professor of mathematics at the University of North Carolina. He is passionate about exploring the mysteries of numbers and 
    equations, and he has devoted his life to creating innovative mathematical tools and applications. He is also known for his 
    eccentric personality and his witty sense of humor.
</p>
<p>One of his most remarkable inventions is calculatron, a robot that can solve any math problem with incredible speed and accuracy. 
    Calculatron is not only a powerful calculator, but also a sentient being with a rager aggressive character. 
    It has a fiery temper and a competitive spirit, and it loves to challenge anyone who dares to test its skills. 
    It can also generate random math equations and puzzles for fun and education.</p>
    
    <h2><a href="applications.html">Have some fun with Calculatron!</a></h2>
{% endblock %}