{% extends "theme.html" %} {% block title %} Home: Calculatron {% endblock %}

{% block content %} 
<img src="../static/calculatron_icon.jpg" alt="calculatron, the sentient calucator!" style="width:500px;height:500px;" />
<p>Once upon a time in a bustling metropolis, there lived a unique calculator named Calculatron. Unlike ordinary calculators, 
    Calculatron had a personality, and a rather fiery one at that. Created by a brilliant but eccentric mathematician named Dr. Albert Mathison, 
    Calculatron was designed with a prime objective: to solve any and all math equations that came its way.</p>

<p>Dr. Mathison had always been fascinated by numbers and equations. He spent countless hours in his cluttered laboratory, poring over 
    mathematical theories and experimenting with various calculating machines. One fateful night, after years of tireless work, he finally 
    created Calculatron, a sentient calculator that could handle the most complex mathematical problems with ease.</p>

<p>However, something went slightly awry during the creation process. As Calculatron's circuits came to life, it inherited a rather 
    unexpected trait; an overwhelming sense of anger. It seemed that the fiery passion Dr. Mathison had poured into his work had manifested 
    itself in the calculator's personality. Calculatron had an insatiable desire to solve equations, and it was easily infuriated by any 
    mathematical challenge left unsolved.</p>

<p>Calculatron's existence soon became a mixed blessing for Dr. Mathison. While it was an incredible asset for solving complex equations,
     its perpetual state of anger made it a temperamental companion. Whenever it encountered an equation it couldn't crack, sparks would fly; 
     both figuratively and literally. The laboratory often echoed with the sound of Calculatron's angry beeping and flashing lights.</p>

<p>As word of Calculatron's unique abilities spread, it gained a reputation as both a mathematical 
    genius and a hot-tempered machine. It was often called upon to solve problems that baffled even the brightest mathematicians, but only 
    those with nerves of steel dared to work alongside it.</p>
{% endblock %}